PORT=8080
DB_PATH=./data/backend_data/assistant.db
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_GRPC_PORT=6334

APP_API_TOKEN=
LOCAL_MODE=true
OLLAMA_API_BASE=http://localhost:11434
ENCRYPTION_MODE=false

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
